body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.box {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    width: 60%;
}

h1,
h2,
span {
    color: #17A2B8;
}


input {
    background-color: transparent !important;
    color: #fff !important;
}

.alert {
    background-color: transparent !important;
    border-width: 0px !important;
    color: red !important;
}

input::placeholder,
textarea::placeholder {
    color: rgb(182, 182, 182) !important;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0 0 transparent !important;
}


.form-control::placeholder {
    color: white;
}